@charset "UTF-8";

* {
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #D9D7C5, #8C7C5D);
}

main {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(80, 78, 74, 0.282);
    height: 800px;
    width: 500px;
    padding: 25px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: #3f7190;
}

h2 {
    color: #7EB6D9;
}

p {
    text-align: justify;
}