@charset "UTF-8";

/* 
    Em HTML é id - Em CSS é # (só pode em um elemento) 
    Em HTML é class - Em CSS é . (pode em mais de um elemento)
*/

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #053f2c;
}

h1#principal {
    text-align: center;
}

h2 {
    color: #22956e;
}

.basico {
    background-color: #008000;
}

.intermediario {
    background-color: #ffff00;
}

.avancado {
    background-color: #ff0000;
}